.header {
  &__wrapper{
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #646459;
  }

  &__header {
    margin: 0 auto;
    width: 1400px;
    background-color: lightgray;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: calc(9px + 2vmin);
  }
  
  &__left {
    padding-left: 2rem;
  }

  &__right {
    padding-right: 2rem;
  }
  
  &__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &__li {
    float: left;
  }

  &__font {
    font-size: 4px;
  }

  &__dropdown {
    position: relative;
    display: inline-block;
  }

  &__dropbtn {
    background-color: #646459;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }

  &__dropdownContent {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  &__a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  &__dropdown:hover, &__dropdownContent {
    display: block;
  }
}
